{% extends 'base.html' %}

{% block title %}
Main
{% endblock %}

{% block content %}
  <div class="container">
    <form action="{% url 'Home' %}" method="GET">
      <div class="row">
        <div class="col-8">
          <div class="form-group">
            <input type="text" name="search" class="form-control">
          </div>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </form>
  </div>
  {% for ele in movies %}
      <div class="container">
        <div class="row mb-2 py-5">
          <div class="alert-warning alert">
            <img src="{{ ele.poster.url }}" alt="" width="500" height="600">
            <h1>{{ ele.name }}</h1> 
            <h4>{{ ele.description }}</h4>
            <a class="btn btn-danger" href="{% url 'show_movie_details' ele.pk %}">Details</a>
          </div>
        </div>
      </div>

  {% endfor %}
{% endblock %}



