{% extends 'base.html' %}

{% block title %}
Main
{% endblock %}

{% block content %}
      <div class="container">
        <div class="row mb-2 py-5">
          <div class="alert-warning alert">
            <img src="{{ movie.poster.url }}" alt="" width="500" height="600">
            <h1>{{ movie.name }}</h1> 
            <h4>{{ movie.description }}</h4>
          </div>
        </div>
      </div>

      <div class="container">
        {% for movie_play in movie.slots.all %}
          <div class="card">
            <div class="card-body">
              <h4>{{ movie_play.start_time }} - {{ movie_play.end_time }}</h4>
              <p>Available seats amount: {{ movie_play.available_seats }}</p>
              <p>
                <a class="btn btn-primary" href="{% url 'movie_play_details' movie_play.pk %}">Book this slot</a>
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
      

{% endblock %}



